[2021-05-17 11:48] mhl787156 opened #10 "Cannot steer right in browser on desktop"
As title, when running the game on a browser on a computer, the robot cannot steer right.

[2021-05-17 11:50] mhl787156 opened #11 "Joystick Tuning"
When playing on mobile, the joystick is very sensitive.

One concern was the quick switch between going forward and going backward if the joystick passes the vertical 0. Needs tuning

[2021-05-17 11:51] mhl787156 opened #12 "Lidar Revolutions"
Something weird is going on with the origin point of the raycast needs investigating and fixing.

[2021-05-17 11:54] mhl787156 opened #13 "Lidar visualisation"
The current lidar visualisation is very sparse.

I propose that we switch to a sprite based system e.g. https://kidscancode.org/godot_recipes/ui/minimap/

[2021-05-17 12:40] jhird11 commented on #12
See Environments/LidarTestScene_with_robot.gd for a testing level confirming.

[2021-05-17 12:47] jhird11 commented on #13
I think the current system can work, but the robot must be represented via a sprite of some sort.

This goes with a larger question of whether the LIDAR stays in the global frame or the local frame. Ie. Will the little sprite in the middle showing which way you're pointing rotate. Or will the whole LIDAR reading rotate around a fixed arrow indicating the forward direction.

[2021-05-17 12:50] mhl787156 commented on #13
Agree to the robot sprite. I think the rest of the space does need to be filled in more though.

I think the original idea is for the robot to always be in the centre bottom, and that you get a cone of sensor readings fixed from the local frame. I think the point is we don't have anything from the global frame shown to the user.
On that note we should play around with some of the parameters,  I th

[2021-05-17 12:53] jhird11 commented on #10
Can't reproduce on Windows 10 chrome using the arrow keys. Anyone else has this issue?

[2021-05-17 12:56] jhird11 opened #16 "Lidar readings aren't plotted relative to the robot"
The lidar works but the readings appear to plotted in global space, instead of relative to the robot. It means if you go too far away from the origin lidar readings are no longer plotted.

[2021-05-17 12:58] jhird11 opened #17 "Temperature sensor hasn't been implemented yet"

[2021-05-17 12:59] MihaiAnca13 opened #18 "Rethink whiskers"
The rendered texture coming from the whiskers should include text showing what it bumped into and maybe some other attributes - right now its not particularly useful

[2021-05-17 13:00] MihaiAnca13 commented on #17
@hendrikE can you please write down the ideas you had over the weekend here?

[2021-05-17 13:02] jhird11 opened #19 "Tactile sensor rework"
Currently the tactile sensor display is a little vague. We should display some information about the object it that has been detected eg. "stone", "mushroom" etc.

[2021-05-17 13:02] #19 closed, assigned to nobody

[2021-05-17 13:02] jhird11 commented on #19
duplicate

[2021-05-17 13:04] MihaiAnca13 commented on #18
This could be achieved if the textures used are following a naming convention. Ex: name_texture.

[2021-05-17 13:09] mhl787156 commented on #10
Huh, maybe it's just my particular setup, something else is grabbing my 'D' key - maybe should also enable arrow keys

[2021-05-17 13:10] jhird11 opened #20 "Optimise game controls and interface for mobile devices"
Need to test and optimise game for mobile phone aspect ratios. And also check it scales up to desktop

[2021-05-17 13:11] jhird11 opened #21 "Stop robot bouncing and flipping over"
The robot is very bouncy and currently gets stuck when it flips over

[2021-05-17 13:15] kirstyaquilina commented on #16
Instead of rotating the laser, rotate the cast to vector:
var point_laser = Vector3(max_range,0,0)
ray.set_cast_to(point_laser.rotated(Vector3(0,1,0),deg2rad(counter)))

However, the origin of the laser still looks off and needs to be fixed and weirder things happen when you try to move the robot.

[2021-05-17 13:18] jhird11 opened #22 "Joystick uncentered and background moves around on mobile"
The joy stick doesn't seem to cantered relative the sensor frames.

When the joystick moves to center itself on the location of the touch it overlaps other UI elements. This isn't a bug but looks slightly odd

[2021-05-17 13:53] kirstyaquilina commented on #16
Also counter is set to 0 after it reaches 360 deg; it would be good to use the value of counter (modulus 360) rather than setting it to zero as otherwise the laser could be going in a different direction for a short while (e.g. 365 -> 0).

[2021-05-17 14:15] jhird11 commented on #18
Yeah that works if the only information we want to display is the name. Perhaps a lookup table between the texture name and the item name + info would be more expandable?

[2021-05-17 14:18] jhird11 opened #23 "Low resolution textures on mobile"
This is probably an export settings thing

[2021-05-17 14:30] jhird11 commented on #16
Hi Kirsty, would you be happy to make these changes and submit them as a pull request? I think @blueicefrog (Pete) was also said he might look at them?

[2021-05-18 09:11] jhird11 commented on #18
Objectives:
- Display name of sensed object
- Ability to display other fields
- Scatch card effect

[2021-05-18 09:26] jhird11 commented on #16
Hi @kirstyaquilina and @blueicefrog, I've given @MihaiAnca13 this issue because he was looking for things to do but if either of you still wanted to contribute towards the LIDAR development let me know :)

[2021-05-18 15:51] jhird11 opened #24 "Deploy/Hosting the game publically"
We need to work out how to host this game on AWS (https://aws.amazon.com/)

[2021-05-18 15:52] jhird11 opened #25 "Acquire a URL"
We need to acquire a URL for our game website which will be hosted on AWS

[2021-05-18 21:30] mhl787156 commented on #24
Michael is happy to work out a way to fund this and #25

[2021-05-18 21:31] mhl787156 opened #26 "COME UP WITH A NAME FOR THE GAME"
As in the title!

[2021-05-18 21:38] jhird11 commented on #26
I'm happy to run a couple of rounds of polls to brain storm ideas for this?

[2021-05-18 21:44] jhird11 commented on #24
I'm not really sure how this stuff works, do we know anyone who does? I assume Michael just wants "where do I click buy" info, so we need to work out where that button is.

[2021-05-18 21:48] mhl787156 commented on #24
I think it's more of a, lets set up an account linked to the Farscope credit card.

It should just be start up a Amazon S3 server. Then doing #25 and pointing it at the public IP of the S3 server? There should be lots of online tutorials

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Tutorials.WebServerDB.CreateWebServer.html
https://docs.aws.amazon.com/efs/latest/ug/wt2-apache-web-s

[2021-05-18 21:50] mhl787156 commented on #10
Yup I found vim for chrome was binding my D key - this is not an issue! Closing!

[2021-05-18 21:50] #10 closed, assigned to nobody

[2021-05-19 08:23] archie1983 commented on #21
Issue fixed with commits:
592a83065f7b8846c5838bab517221a48f149dc9
7fffa98ff283a7f63d30a1493e6af91657d26fd8
8b64c1c37b7d8ef52074f9235943d6c41ce30bc8

[2021-05-19 08:23] #21 closed, assigned to archie1983

[2021-05-19 10:44] MihaiAnca13 commented on #18
A quick update (https://youtu.be/_I9BjB5BopY) and a question. I've added a sample rock texture just to play with. It currently doesn't resize it when displaying it in the control panel. There was also a bug, where the last texture was always displayed, so now I just show a blank white image instead.

I was trying two things:

- read texture data from a csv file - works
- display text on top of tex

[2021-05-19 10:52] mhl787156 commented on #18
The resizing - make sure that code is in _process!

Drawing text on top of image should just be using the Label node as a canvas node, really easy to add :)

On the linking, if we gave each object a texture id from an enum, then the globals.gd can have a mapping from the enum to csv? Then the sensor essentially does a lookup based on the touched object texture_id?

On that note we should have a fa

[2021-05-19 10:56] mhl787156 commented on #18
Also was having a think of what the UI might look like. Depending on whether you can get the location of the texture within the hitbox - then you can actually use it for navigation tasks!
![WhatsApp Image 2021-05-19 at 11 54 37](https://user-images.githubusercontent.com/10742598/118801687-2f6b4b80-b899-11eb-810a-aa5ae795605a.jpeg)

[2021-05-19 11:03] MihaiAnca13 commented on #18
Good idea with the label! Makes it much easier.

How would you add that texture_id to the object? Do we need a custom class that extends RigidBody that has this extra id? How would we set it for each?

[2021-05-19 11:04] MihaiAnca13 commented on #18
Good idea. I'll have a look to see if it's possible.

[2021-05-19 11:07] mhl787156 commented on #18
Adding texture_id... hmm maybe there's something built in to help add parameters? Otherwise yeah, we would have one script where all does is `export texture_id` and attach that too anything we want the robot to have a texture interaction with?
Other option is we create a new type of node called TextureRigidBody which includes an extra texture_id/other texture based information. Not sure how to do

[2021-05-19 11:21] jhird11 commented on #18
How many objects do we want to be detected by the tactile sensor? We could add a node within objects the tactile sensor interacts with which is like "tactile_info" which would contain the id. Then if the node isn't found then the tactile sensor doesn't sense that object?

[2021-05-19 11:42] mhl787156 commented on #18
Yeah thats also an option - very much depends on how many objects/ which objects! Might have to go to the design team on that..

[2021-05-19 11:46] jhird11 commented on #18
There's quite a few open questions in my mind about the remaining functionality that needs implementing to compete the puzzles. eg. How the tactile sensor is going to be used, how the temperature sensor is going to be used, whats our narrator guide/tooltip stuff going to work, how are objectives displayed.

[2021-05-19 17:19] MihaiAnca13 commented on #16
head_location = $LidarBody/Head.global_transform.origin

This should be updated in the process as well.

[2021-05-20 08:19] jhird11 opened #27 "Objective system"
A system that will clearly tell the player what their current objective is. Needs to also keep track of if the objective is complete or not.

[2021-05-20 08:27] jhird11 opened #28 "Dialogue system"
This would display dialogue triggered by the environment

[2021-05-20 08:29] jhird11 opened #29 "Sensor Info/Book system"
This would be a system to provide information about the different sensors in game. Could also display the game's controls

[2021-05-20 08:38] jhird11 opened #30 "Tutorial for the controls/HUD when you first enter the game"
Can be a slide show of images and should be skippable. Should only activate once per game

[2021-05-20 08:44] jhird11 commented on #18
I've created issues for the dialogue and objective systems in #27 #28 and #29

I think we need two bits of info from the game dev team a) a list of puzzles - to check our sensor functionality matches their expectations and b) a list of all the UI systems that are needed (for objectives dialogue etc.). I will send a message in teams :)

I will post any info relating to the tactile sensor hear :)

[2021-05-21 13:53] MihaiAnca13 commented on #18
Quick update: https://youtu.be/U9DKDvsjXxk
I've added the label as you suggested and it's now using data from the csv file to display texture name. This is using the rigid body name, but can be swapped to texture_id later on.

I haven't implemented the top bar depending on collision just yet and have no idea where to start with that scratch effect.

[2021-05-21 21:15] mhl787156 commented on #26
New Name!
RoC-Ex: Robotic Cave Explorer
Unearth the truth about what happened in cave system #0393

[2021-05-21 21:15] #26 closed, assigned to jhird11

[2021-05-21 23:04] jhird11 commented on #18
Hi Mihai, it's looking good!

I thought the scratch card effect would consist of composting the texture being displayed with the frames of an animated overlay. I'm happy to try to implement this because I know you've got other tasks on your radar?

[2021-05-24 13:32] MihaiAnca13 commented on #18
Sorry for the late reply. Please feel free to have a go at it. I was away for the weekend and didn't have time to work on it.

I want to add what Mickey suggested with the top bar for collision, but then I'd like to have a go at LIDAR to see if I can fix it.

[2021-05-25 13:38] jhird11 commented on #18
That sounds good, let me know when you commit your changes so so I build on top of what you finish :)

[2021-05-25 13:44] jhird11 commented on #18
That sounds good. I don't think I'm entirely clear what @mhl787156 suggested but please do have a go at it :)

[2021-05-25 14:05] mhl787156 commented on #18
@MihaiAnca13 what information do you get from a collision detection volume? If what I suggested doesnt work, I'm happy to take other suggestions on giving a little more feedback then 'oh you've bumped into fern' haha

@jhird11 essentially some feedback on where in physical space the texture is coming from. e.g. the whisker 'feels' a  couple of plants int front of it, so some dots pop up to show th

[2021-05-25 22:33] jhird11 commented on #18
Ah I see, I'll have a think. I think it depends how the puzzles have been designed around the tactile sensor as to what functionality is required.

[2021-05-25 22:37] jhird11 commented on #18
I've implemented a basic animation for when the whiskers enter an object. I also neatened up the UI a bit as well. See the video [here](https://teams.microsoft.com/l/message/19:8c7b8f9b73fd4e2fa3706ceac6720338@thread.tacv2/1621981853674?tenantId=b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b&groupId=ddbe1d95-cb8f-450e-abe9-a26dae896f77&parentMessageId=1621981853674&teamName=grp-FARSCOPE-UKRAS%20%20Festival%

[2021-05-26 07:10] jhird11 commented on #17
Temperature sensor stuff has now been uploaded to the temperature branch. But isn't functional yet.

A quick overview of how I think this was going to work:

Use generate_heatmap.py to generate an image representing temperatures across the map.

A thermometer (Assets/Thermometer.png) would then be filled up to represent the temperature.

[2021-05-26 11:53] MihaiAnca13 commented on #18
@jhird11 it looks very good! I had a quick look at how you fixed the texture scaling issue. It looks like right now it's hardcoded, so we need to make sure it looks good on all screen types.

@mhl787156 You only get a signal for when an object enters/leaves the area. I was thinking I can create an "Area" object for each whisker and display it as dots as you suggested. Do you think that will be oka

[2021-05-26 12:29] MihaiAnca13 commented on #16
@jhird11 I've just pushed some changes to the develop-fix-lidar branch. It's now working as intended thanks to @kirstyaquilina's comments.

I think there's still work to be done for the occupancy map texture, but I haven't had time to look into it for now.

[2021-05-26 13:10] mhl787156 commented on #18
@jhird11 looks good love the animation! Maybe we should have a conversation about how we're doing screen scaling - it should be case of using the scaling grids right?
@MihaiAnca13 hmmm what about something like 6 tiny floating cubes in a line inside the area? Then if one of them gets triggered, we can show a little 'hit' sprite for that cube?

[2021-05-26 13:40] mhl787156 opened #33 "Locomotion method"
Opening an issue for discussing whether to change locomotion from car based to omnidirectional or tank driving based.
Reason is that with car driving locomotion it might be easy to get stuck inside a cave environment. Also most robots these days will be tank steering.
Difficulty is in displaying a tank driving UI/ controls on the screen. Is it possible to have single stick tank driving?
E.g. joyst

[2021-05-27 07:53] jhird11 commented on #17
An update to this. Got a basic working sensor on the temperature branch (video [here](https://teams.microsoft.com/l/message/19:8c7b8f9b73fd4e2fa3706ceac6720338@thread.tacv2/1622101837048?tenantId=b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b&groupId=ddbe1d95-cb8f-450e-abe9-a26dae896f77&parentMessageId=1622101837048&teamName=grp-FARSCOPE-UKRAS%20%20Festival%20of%20Robotics%20Event&channelName=Development%20

[2021-05-27 20:21] jhird11 commented on #17
Integrated into master with #34

[2021-05-27 20:21] #17 closed, assigned to MihaiAnca13

[2021-05-27 20:32] jhird11 opened #35 "Improve the temperature sensor to handle multiple heatmaps"
Currently the sensor uses a single heatmap across the entire map which might result in a very large texture for large maps.

If the temperature is mostly zero apart from a few places of interest we can use multiple heatmaps to represent these areas.

The temperature sensor would need to check which heatmap the sensor is currently in and then read the temperature accordingly.

The calibration metho

[2021-05-27 20:34] jhird11 commented on #35
This would be a nice to have as the current system works. Just a thought I'd had as I wrapping up implementation

[2021-05-27 21:32] jhird11 commented on #16
Ah good stuff! I've just had a look and the weird spinning definitely seems to of been fixed, good job!

I just pushed a draft version of mission 1 onto the master branch to test the lidar in if you'd like to test its operation in a more realistic setting :)

[2021-05-27 21:36] jhird11 commented on #33
I think I'd support tank controls if we can get them working. There is now a basic playable level curtesy of @weijiewong1991 so we can check how bad the current controls play

[2021-05-27 21:47] jhird11 commented on #18
Not sure what you mean by scaling grids. Godot features a number containers for GUI elements which if configured correctly should handle the scaling for us.

The only weird thing about that animation is the AnimatedSprite isn't a standard GUI element (it's from 2D game engine side) but it does scale with the window size but doesn't have the usual UI controls (anchors etc). I probably should re-imp

[2021-05-28 07:41] jhird11 commented on #28
@mhl787156 was Utilities/Textbox.tscn your attempt at this? And did you want to continue this further?

From looking over it it seems we aleady have a way of queuing text and I like the way it animates.

I think implimenting this would consist of creating a new type of object called "DialogTrigger.tscn" or soemthing simular which would be collision volume that the robot could pass through, but wou

[2021-05-28 09:09] mhl787156 commented on #28
That was actually @MihaiAnca13 ! I was wondering how the dialogue would work, I wonder if Valentina had ideas about how it should be displayed to the user - the current textbox is wayyy too small anyway

Hmmm I think we should draw and discuss this somewhere. I think the collision trigger is definitely one way of doing it. Either way at this point it will be us highly scripting everything. On a us

[2021-05-28 09:13] mhl787156 commented on #35
This sounds like a good enhancement - although if the map becomes that large we probably need to split the map up first...
Note temp sensor should stay at around 5 degrees probably - can add random noise to simulate random temperature variations outside of multiple heatmaps! It will be interesting to see the best way to locate a sensor heatmap in a particular location.

[2021-05-28 09:14] mhl787156 commented on #35
Background loading for reference: https://docs.godotengine.org/en/stable/tutorials/io/background_loading.html

[2021-05-28 14:11] jhird11 commented on #28
Yeah I agree having all the dialog in a single file would be good. Especially if different conditions can trigger the same dialog!

[2021-05-28 14:15] jhird11 commented on #35
Ah so at the moment theres's a calibration body which can be moved around with texture on it. Hence it's fairly easy to place a single heatsource... but then if the heatmap contains multiple heat sources you need to get the distances in the texture correct.

As I say I think the current system is clunky but it does work and if we only have a few heat sources it shouldn't be too bad, but if the hea

[2021-05-28 16:09] jhird11 commented on #28
I've done a test run of this on develop-dialog (video [here](https://teams.microsoft.com/l/message/19:8c7b8f9b73fd4e2fa3706ceac6720338@thread.tacv2/1622218064996?tenantId=b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b&groupId=ddbe1d95-cb8f-450e-abe9-a26dae896f77&parentMessageId=1622218064996&teamName=grp-FARSCOPE-UKRAS%20%20Festival%20of%20Robotics%20Event&channelName=Development%20Screenshots&createdTime=1

[2021-05-29 14:20] Skyrah1 commented on #16
The LIDAR readings should now be updating relative to the robot on PR: https://github.com/FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game/pull/39

[2021-05-29 14:21] Skyrah1 commented on #13
Some new visual updates have been added to the LIDAR, including a couple of sprites representing where the robot is, on PR https://github.com/FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game/pull/39

[2021-05-29 15:36] #16 closed, assigned to MihaiAnca13

[2021-05-29 15:36] #12 closed, assigned to MihaiAnca13

[2021-05-29 15:37] #11 closed, assigned to nobody

[2021-05-30 09:11] Skyrah1 commented on #33
There's an issue with the current implementation of tank controls where the player slides up the walls. Other than that, if we can get the player to stick to the floor we should be good

[2021-05-30 11:13] #13 closed, assigned to MihaiAnca13

[2021-05-30 11:14] mhl787156 commented on #25
Closing since we will hopefully be hosting on the BRL website

[2021-05-30 11:14] #25 closed, assigned to nobody

[2021-05-30 11:14] mhl787156 commented on #24
Update - Hopefully we can host on the BRL Website

[2021-05-30 11:16] mhl787156 commented on #33
Also need to consider #11 #20 and #22 for if we want to change how the joystick works

[2021-06-03 09:26] mhl787156 commented on #33
Completed

[2021-06-03 09:26] #33 closed, assigned to nobody

[2021-06-03 13:34] MihaiAnca13 commented on #18
- no more csv file
- place label and TextureRect as child
OR
- do it with the script and add those to a group

[2021-06-03 15:07] mhl787156 opened #46 "Action Animations"
Give some visual + sound feedback on doing an action. e.g.

- Drill - sound of drill (two sounds success/failure), mild camera shake
- Camera - shutter sound, flash of light
- Take Sample - robot arm moving (?)/ motor sounds, dialog box of [sampling...] coming up

[2021-06-03 15:11] mhl787156 opened #47 "Break up UI elements in the Control Panel"
Currently Control Panel has many subnodes representing all of the sensors. This needs to be broken up into different sections for scalability and functionality.

[2021-06-03 15:13] mhl787156 opened #48 "Enhance dialog system"
Remove dialog title from journal log

Add character icon for speaker

Add radio static sounds on communcation

[2021-06-03 15:17] mhl787156 opened #49 "Starting Sequence Node"
There will need to be a starting sequence to take the player from the main menu to the control panel. This needs to be designed and implemented. Current thoughts are

1. MainMenu press start button
2. Bring into turned off computer mode - show dialog of background (maybe a picture of the mountain in the background)
3. Computer turns on - play turn on sounds, show computer turn on screen
4. Control

[2021-06-03 15:22] mhl787156 opened #50 "Integrate visual and scripted mission levels"
With Julians work on sorting out the scripting of the mission in #28 and objective system #27 we now need to script the missions. This will include scripting the objectives, the journal logs and the dialog. Refer to the mission plans in the Teams

[2021-06-03 15:23] mhl787156 opened #51 "Add "exit to main menu" button to the options panel in the sensor book"

[2021-06-03 15:24] mhl787156 opened #52 "Font Changes causing unwanted container resizing"
Current bug - if you open up the options menu on the mainmenu, it permanently shifts the entire menu to the right. This is due to the heirarchy of containers and the options menu being the widest container.

Similar bug being caused by font resizing (remove feature?)

[2021-06-03 15:26] mhl787156 opened #53 "Add a torch"
Need to add a torch, but the torch has to be pretty bad. Thoughts were to make it a pinpoint light with little spread and/or blowout the camera.

[2021-06-05 07:02] jhird11 commented on #50
initial version on tutorial-script branch!

[2021-06-05 07:03] jhird11 commented on #49
This can be achieved using the tutorial_scripts.gd see tutorial branch

[2021-06-05 07:07] #27 closed, assigned to nobody

[2021-06-05 07:07] #28 closed, assigned to nobody

[2021-06-05 07:10] jhird11 commented on #49
Let's also not forget #30

At the moment the tutorial script directly alters the sensor GUI elements. I think a clearer storyboard of what this would look like is needed before we script this.

[2021-06-05 07:11] #29 closed, assigned to nobody

[2021-06-05 07:18] jhird11 opened #55 "Dialog textbox clips on the right hand side when displaying text"
![image](https://user-images.githubusercontent.com/47662879/120883704-a2353000-c5d6-11eb-96e6-4f56c86b585f.png)

[2021-06-05 07:22] jhird11 opened #56 "Enter key triggers menu items during dialog display"
I think there's two issues here.

1) Dialog skipping key is ui-accept action key which doesn't include touching
2) need to set focus to dialog box when it's displayed

[2021-06-05 07:26] jhird11 opened #57 "Robot has difficulty traversing Mission 1 cave"
In particular two sections I've discovered from the tutorial script

![image](https://user-images.githubusercontent.com/47662879/120883871-9bf38380-c5d7-11eb-8e98-11b576f4ee52.png)

[2021-06-05 07:43] mhl787156 commented on #57
@a98-smith or @ADRSmith would you be able to have a look at this?

[2021-06-05 07:48] jhird11 commented on #57
Video evidence :) https://teams.microsoft.com/l/message/19:8c7b8f9b73fd4e2fa3706ceac6720338@thread.tacv2/1622879195015?tenantId=b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b&groupId=ddbe1d95-cb8f-450e-abe9-a26dae896f77&parentMessageId=1622849291466&teamName=grp-FARSCOPE-UKRAS%20%20Festival%20of%20Robotics%20Event&channelName=Development%20Screenshots&createdTime=1622879195015

[2021-06-06 07:25] jhird11 commented on #18
Completed by adding custom node to objects. Feature merged

[2021-06-06 07:25] #18 closed, assigned to MihaiAnca13

[2021-06-06 11:23] mhl787156 opened #60 "Add extra 'take sample' button to specials menu"
Request to add an extra button (the testube) to the specials menu

[2021-06-06 11:23] mhl787156 opened #61 "Enhance Heatmap for the tutorial level"

[2021-06-06 15:45] Skyrah1 commented on #57
Beyond the tutorial, the robot seems to have difficulty driving through tunnels in general. It might have to do with how narrow the tunnels are, so maybe it would be worth either making all the tunnels wider or scaling the whole level up?

[2021-06-06 16:32] jhird11 commented on #57
Yeah I agree. I think this fix is a combination of scaling up the cave and them changing the robot's collision box to be capsule so it doesn't catch on the cave mesh.

[2021-06-06 16:58] jhird11 commented on #57
While we're fixing this we should can tune the robot's speed a bit.

[2021-06-06 17:08] jhird11 commented on #48
@weijiewong1991 Just assigning this to you to keep track on who is working on what. I mentioned the dialog display in the sensor log and the character icons for both the text box and journal log. I don't think I mentioned the sound, feel free to have a go, should just be a case of playing a sound whenever the textbox.gd sets the text for a new piece of dialog.

[2021-06-06 17:28] Skyrah1 commented on #52
The issue was fixed by removing the center containers, let me know how the menu looks now

![image](https://user-images.githubusercontent.com/31740485/120934168-2087f400-c6f5-11eb-96cd-35ad2c9a12fd.png)

[2021-06-06 17:42] jhird11 commented on #52
Looks great to me !

There's still an issue with font resizing moving the options menu but I don't think that one is as important?

[2021-06-06 17:53] Skyrah1 commented on #52
Ah, I totally missed that part! I'll look into that and see if there's a solution

[2021-06-06 19:11] mhl787156 opened #65 "Add Compass to indicate direction from North"
Suggestions here are to have a bar along the top of the screen showing N/E/S/W with additional subdivisions based on rotation from X (say) axis.

[2021-06-06 19:14] mhl787156 opened #66 "Ingame Debug tools not appearing on debug option"
Debug tools appear to not be toggling based on ingame debug options

[2021-06-06 21:32] jhird11 commented on #60
I'm adding this

[2021-06-06 21:33] jhird11 commented on #53
I'm adding this

[2021-06-06 22:10] jhird11 commented on #55
@mhl787156 Just wanted to bring this your attention while you're editing the textbox

[2021-06-06 22:12] jhird11 commented on #48
@mhl787156 has had a look at the sounds but that should be in the textbox script and not in the scene. I'll post here if it gets merged

[2021-06-06 22:12] mhl787156 opened #67 "Add Credits Sequence"
This needs to be done and accessible on the front page. Should be configurable by json or something else
Refer to: https://github.com/benbishopnz/godot-credits

[2021-06-06 22:13] jhird11 commented on #56
@mhl787156 this is the other bug I know is in the textbox.

[2021-06-06 22:13] mhl787156 commented on #55
Is this just a case of making the margin bigger?

[2021-06-06 22:15] jhird11 commented on #55
Not sure. Not sure if the finishing "v" element has a background thats covering the next maybe?

[2021-06-06 22:15] jhird11 commented on #55
Oh wait I see what you mean. That is one solution I guess

[2021-06-06 22:26] jhird11 commented on #48
Audio was merged with #68

[2021-06-06 22:42] #53 closed, assigned to nobody

[2021-06-06 22:42] #60 closed, assigned to nobody

[2021-06-06 22:43] jhird11 commented on #47
I think this is complete now?

[2021-06-06 22:43] #47 closed, assigned to nobody

[2021-06-06 22:44] jhird11 commented on #51
Has this been fixed by #52?

[2021-06-07 14:11] jhird11 commented on #65
@MihaiAnca13 would you be interested in implementing this? It's a bit of a stand alone task :)
I think Alex mentioned the skyrim bar which was kinda cool. Could probably be done by shifting a repeated texture around maybe?

![image](https://user-images.githubusercontent.com/47662879/121030350-4c60b380-c7a1-11eb-9bd6-1b37a24d5991.png)

Let me know either way :)

PS:
Also thanks for your work on the

[2021-06-07 14:38] MihaiAnca13 commented on #65
I'm happy to do it, but I will need your help with merging it with the master branch. I'm bound to have problems with the ControlPanel placement.

[2021-06-07 14:39] mhl787156 commented on #65
If you make it as its own scene, we can deal with placement later. We've finally figured out that its all about the anchors haha

[2021-06-07 14:46] jhird11 commented on #35
Gonna close this because what we have at the moment is workable

[2021-06-07 14:46] #35 closed, assigned to nobody

[2021-06-07 14:48] mhl787156 commented on #51
I can't remember, this may be referring to the return to mainmenu button in the main game?

[2021-06-07 14:49] jhird11 commented on #46
@mhl787156 Are you happy to complete this?

[2021-06-07 14:50] jhird11 commented on #30
Merging this issue with #49

[2021-06-07 14:50] #30 closed, assigned to nobody

[2021-06-07 15:07] jhird11 opened #71 "Whisker UI enhancement"
There are lot's of little UI tweaks in the whisker sensor. But not super urgent

Dots don't quite match up
![image](https://user-images.githubusercontent.com/47662879/121040947-3b687000-c7aa-11eb-804d-6e8e486fbe4a.png)

Bottom panel isn't part of the texture so scales oddly.

![image](https://user-images.githubusercontent.com/47662879/121040996-44594180-c7aa-11eb-828f-8a1ebc99c0cf.png)

[2021-06-07 15:08] jhird11 opened #72 "Import new textures into the control panel UI"
New textures are being made for the control panel lets remember to put them in! Will post when they're ready

[2021-06-07 15:12] jhird11 commented on #71
Perhaps the dots and green bar should all be in HBOX and then we change the texture of the dot elements rather than hiding them. Because our placement is always going to be slightly off.

[2021-06-07 15:14] jhird11 commented on #51
YES that was it

[2021-06-07 15:31] jhird11 commented on #66
Fixed with #73

[2021-06-07 15:31] #66 closed, assigned to nobody

[2021-06-07 20:44] mhl787156 commented on #46
Yes I can give it a go at some point! Might need some help for the visual things

[2021-06-07 21:46] weijiewong1991 commented on #72
I can put them in on the control_panel_improvement branch.

[2021-06-07 22:01] jhird11 commented on #46
Yeah I didn't get around to it today #74 Added the functionality we talked about for triggers letting the robot know if it's actions did anything

[2021-06-07 22:04] jhird11 commented on #72
Ah if you'd like. I tried to add them other day but I don't think they were square or the same size so it caused some issues. I asked valentina if she'd like to make them square but haven't heard anything back so far.

[2021-06-07 23:23] weijiewong1991 commented on #72
Just tried it and I see what you mean now. Personally I don't mind the gaps. I've changed the control panel background to a square version based on Valentina's new files.

[2021-06-08 06:44] jhird11 commented on #72
Great thanks!
Yeah I don't mind some gaps I think its more that the top button clips the top of the screen, but wouldn't if the gaps were smaller. I'll leave this open and we can revisit the buttons if new textures are made or we have time to polish the existing ones

[2021-06-08 06:59] jhird11 commented on #46
I have an idea for the photo which which would be kinda cool.

So you click the camera
![image](https://user-images.githubusercontent.com/47662879/121137802-f63a5180-c82e-11eb-999a-2fd8c3b06c8e.png)

Then there's like this flash
![image](https://user-images.githubusercontent.com/47662879/121137837-00f4e680-c82f-11eb-9e07-08ddd5aeadb7.png)

Then the picture starts growing from the centre

![image](

[2021-06-08 07:05] jhird11 commented on #46
It will hide after a second or so and then stop playing if you tap it.

If we have time we could add these to the journal. Might have to put a gap on it to avoid spam

[2021-06-08 07:40] mhl787156 commented on #46
OMG I love the idea hahaha we'll see how far I get with it :p
It would be good to get a high res photo or something - it depends on where the extra shaders were placed I guess
Also I can tell you've spent a loooong time thinking about this xD

[2021-06-08 10:09] jhird11 opened #77 "Temperature sensor tween between temperatures"

[2021-06-08 10:19] jhird11 opened #78 "Landing page for website before game"

[2021-06-08 15:42] gabriellamiles commented on #57
I've done some testing on the new mission 1 cave mesh and I think it's slightly better now. There are still some areas that are slightly narrower and reduce the robot's speed a bit, but nothing that results in it getting stuck.

[2021-06-08 16:31] jhird11 opened #82 "Whiskers don't clear analyse keyframes if stop touching surface"
Rest of the animation stops so the clear key frames function probably just needs calling

[2021-06-08 19:25] weijiewong1991 commented on #72
https://uob.sharepoint.com/teams/grp-FARSCOPE-UKRASFestivalofRoboticsEvent/Shared%20Documents/Game-a-thon%20Prototype%20Weekend%201/Menu%20and%20UI%20Design/Temporary/Square_icons.JPG

I rescaled all the icons, does it look better now?

[2021-06-08 19:41] jhird11 commented on #72
Looks alright to me!

Just checking are you working on the latest version that temperature sensor on left looks a little out of date?

[2021-06-08 20:43] weijiewong1991 commented on #72
I did not merge from master yet.

[2021-06-08 20:44] jhird11 commented on #72
Ah okay doke :)

[2021-06-09 15:22] jhird11 commented on #82
Fixed in #85

[2021-06-09 15:22] #82 closed, assigned to nobody

[2021-06-09 15:25] jhird11 opened #86 "Performance issues"
I've spotted several performance issues that should be addressed.

The tutorial level import contains a preview camera. Which renders the whole scene even though its not attached to a viewport

The lidar is by far the most expensive bit of scripting we have. A review of how it is doing its drawing should take place to make sure its not being more expensive than necessary.

[2021-06-09 15:25] jhird11 commented on #86
@gabriellamiles Not sure what the preview camera is about.. perhaps generated by a tool you use to import the meshes?

[2021-06-09 16:00] jhird11 opened #88 "Tutorial Scripting issues"
Known issues feel free to add more

- [ x] 1. Camera triggers a little far away but also doesn't trigger when super close. This is based on the way the must_see trigger functionality is implimented.

- [ x] 2. When the mission is complete the loadenviroment function needs to be called.

- [x ] 3. The player can double back through the dark cave after finding the robot. Added some dialog to deter t

[2021-06-09 16:42] mhl787156 opened #90 "Initial Loading Screen"
The current loading screen takes a while and is completely blank, would be good to get a better screen!

![image](https://user-images.githubusercontent.com/10742598/121395222-17dc2b80-c94a-11eb-8089-05198c60c929.png)

[2021-06-10 11:51] gabriellamiles commented on #90
Is this something you want some artwork for? Or are you thinking a bit more basic?

[2021-06-10 12:49] mhl787156 commented on #90
I think we can go pretty basic for this - I was thinking the name (game logo?) of our game with all the institution logos on the bottom? BRL, UWE, UOB, ESPRC, UKRAS Robotics Festival and any others? Still needs creating though!
I believe that we can upload a jpg and that will just display as splash screen? Need to look a bit more into it though

[2021-06-10 13:47] jhird11 opened #92 "Resize hint textures to 512x512"
need to a be power of two

[2021-06-12 02:33] jhird11 opened #95 "Main mission Scripting issues"
Feel free to ammend with any you find

- Plants are too close together for the current photo/sampling system to work, very easy to trigger two dialogs at once, eg one successful and one not. FIXES: make triggers smaller add dialog telling you need to be close to get the photo OR Move plants further apart OR disable failure dialogs or add counter so they trigger after X attempts
- No hints or guida

[2021-06-14 09:18] mhl787156 commented on #24
This is now solved with money, currently hosting on https://fasrcope-outreach.co.uk

[2021-06-14 09:18] #24 closed, assigned to nobody

[2021-06-14 09:51] #51 closed, assigned to nobody

[2021-06-14 10:20] #67 closed, assigned to nobody

[2021-06-14 10:38] mhl787156 opened #100 "Transition between Tutorial and Mission 1"
@jhird11 @gabriellamiles, what is the plan for the transition between the missions? Is it triggered if the player goes into a particular area?

[2021-06-14 10:41] mhl787156 commented on #49
I believe this is mostly completed, but in need of a bit of an update

[2021-06-14 10:44] mhl787156 commented on #57
At @jhird11 @gabriellamiles do we think this is fixed now? If so lets close thise issue

[2021-06-14 12:04] #65 closed, assigned to MihaiAnca13

[2021-06-14 12:13] jhird11 commented on #57
I think this only applied to old map. I've had no trouble with the new one

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mickey Li ***@***.***>
Sent: Monday, June 14, 2021 11:44:38 AM
To: FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game ***@***.***>
Cc: Julian Hird ***@***.***>; Mention ***@***.***>
Subject: Re: [FARSCOPE-UKRAS-Festival-Game-Dev/Robot-E

[2021-06-14 12:14] jhird11 commented on #49
I don't think we've actually implemented the node that would do this. Atm it's all done through the dialog system.

Is there any update on the storyboard/ art for this?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mickey Li ***@***.***>
Sent: Monday, June 14, 2021 11:42:12 AM
To: FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game ***@***.***>
Cc: Julian

[2021-06-14 12:16] jhird11 commented on #100
When the player goes through the waterfall I believe. Should just be achieved by triggering load_enviroment when the robot enters the waterfall

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Mickey Li ***@***.***>
Sent: Monday, 14 June 2021, 11:38
To: FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game
Cc: Julian Hird; Mention
Subject: [FARSCOPE-UKRAS-Fest

[2021-06-14 12:31] mhl787156 commented on #100
Okay... there's no waterfall yet in tutorial though? I'm guessing thats going to be in some other branch?

[2021-06-14 12:32] mhl787156 commented on #57
Okay great, closing issue then!

[2021-06-14 12:32] #57 closed, assigned to nobody

[2021-06-14 12:38] mhl787156 commented on #49
Yes there is, @gabriellamiles showed me some shots yeseterday of backgrounds Tbh steps 3 - 5 are essentially implemented in the curent build?
We can move all of that into its own node? But if it works fine we can probably leave it...

Whatever we decide, I think getting this don is high priority.

I think what's being done in #99 should help out

[2021-06-14 15:05] jhird11 commented on #100
Does the current tutorial level have any assets in what's so ever? I think they still need merging on top of each other

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mickey Li ***@***.***>
Sent: Monday, June 14, 2021 1:31:45 PM
To: FARSCOPE-UKRAS-Festival-Game-Dev/Robot-Explore-Game ***@***.***>
Cc: Julian Hird ***@***.***>; Mention ***@***.***>
Subject: R

[2021-06-15 08:26] mhl787156 commented on #100
No, the tutorial still has the blue blocks? I think it needs a second pass anyhow if we're redoing the intro too

[2021-06-15 09:38] #46 closed, assigned to mhl787156

[2021-06-15 18:54] #78 closed, assigned to nobody

[2021-06-15 18:56] mhl787156 opened #106 "Add whisker textures to all interactable objects in the level"
Currently whisker only recognizes a select few objects (and displays the texture of a select few objects). We need to add textures ad descriptions to more objects

[2021-06-15 20:05] mhl787156 commented on #90
Solved by #105

[2021-06-15 20:05] #90 closed, assigned to nobody

[2021-06-16 08:41] #92 closed, assigned to nobody

[2021-06-17 11:38] jhird11 commented on #88
All fixed apart from tactile textures

[2021-06-17 11:38] #88 closed, assigned to nobody

[2021-06-17 11:39] jhird11 commented on #106
Added placeholder textures for most objects some still remain eg. plants, yeti shorts

[2021-06-17 11:40] jhird11 commented on #100
Done! But mission 1 isn't finished yet

[2021-06-17 11:40] #100 closed, assigned to nobody

[2021-06-17 11:40] jhird11 commented on #72
I think this is good enough

[2021-06-17 11:40] #72 closed, assigned to nobody

[2021-06-17 11:41] jhird11 commented on #61
Created heatmap but it needs tuning.

[2021-06-17 11:41] jhird11 commented on #56
_fixed_

[2021-06-17 11:41] #56 closed, assigned to nobody

[2021-06-17 11:44] jhird11 commented on #48
At the moment all mission entries are from mission control. Intro cut scene dialog is displayed too. It' s all fine

Could consider adding extra key to say if dialog should be added to the journal or not?

[2021-06-17 11:44] jhird11 commented on #22
Joystick is now fixed

[2021-06-17 11:44] #22 closed, assigned to nobody

[2021-06-17 11:46] jhird11 commented on #49
Integrated with #115

[2021-06-17 11:46] #49 closed, assigned to nobody

[2021-06-17 11:48] jhird11 opened #117 "Check all non dialog text - mission titles, mission descriptions and objective text"
These are not in the dialog files and are all placeholders

[2021-06-17 11:48] jhird11 opened #118 "Disable all debugging tools for release"

[2021-06-17 11:49] jhird11 opened #119 "Fix volume button scale"
too loud

[2021-06-17 11:50] jhird11 opened #120 "Replace control description page"
Currently a placeholder

[2021-06-17 11:51] jhird11 opened #121 "Improve Sensor load out page in sensor book"

[2021-06-18 09:02] mhl787156 opened #122 "Add credits for Assets"

[2021-06-18 10:23] jhird11 opened #123 "Missions not populated afterload"
Mission list doesn't populate for main mission after load

[2021-06-18 10:24] jhird11 opened #124 "Remove old cave levels so they're not included in build"

[2021-06-18 10:29] jhird11 opened #126 "Check mission 1 dialog"
This hasn't been reviewed and is full of errors

[2021-06-18 10:32] jhird11 opened #127 "Move starting sequence into it's own scene"

[2021-06-18 10:34] jhird11 opened #129 "Improve heatmaps for levels"
These could do with tweaking

[2021-06-18 10:41] jhird11 opened #130 "Add photos to the journal"

[2021-06-18 14:14] jhird11 commented on #106
I think this is done. More could be added but there's a good number of objects now

[2021-06-18 14:14] #106 closed, assigned to nobody

[2021-06-18 14:15] jhird11 commented on #124
These are quite sizable >25mb so definitely worth clearing our the ones we don't need!

[2021-06-18 14:17] jhird11 commented on #86
I deleted the camera in the mesh scenes

[2021-06-18 14:18] jhird11 commented on #86
I also changed how the lidar draws dots to the screen to use rectangle blitting rather than looping through pixels.

Also changed lidar to avoid doing as many overlay operations each frame

[2021-06-18 14:22] jhird11 commented on #123
I think this is something to do with the way missions are loaded. I tried to add some stuff so that the control panel UI is deleted when the robot is freed which made the overlay appear again . . Maybe one for you @mhl787156 ?

[2021-06-18 15:17] #120 closed, assigned to nobody

[2021-06-18 15:17] #121 closed, assigned to nobody

[2021-06-18 16:58] jhird11 opened #132 "Game ending"
At the moment the game just quits to main menu. Seems a bit anti climatic... perhaps should go to credits instead?

[2021-06-18 21:06] mhl787156 commented on #123
I believe this has been resoluved

[2021-06-18 21:06] #123 closed, assigned to nobody

[2021-06-18 21:19] mhl787156 commented on #119
Fixed this

[2021-06-18 21:19] #119 closed, assigned to nobody

[2021-06-18 21:46] mhl787156 commented on #129
Improved heatmap for tutorial level:
![image](https://user-images.githubusercontent.com/10742598/122618822-f46e5a80-d086-11eb-97a5-0fb9f6fa1851.png)

[2021-06-18 22:10] mhl787156 commented on #129
Also updated Mission 1 with more noise and a bit more diffusion (by liberal use of bluring and smudging!)
![MissionHeatmap](https://user-images.githubusercontent.com/10742598/122620244-5a101600-d08a-11eb-9332-d06e81fc2c51.jpg)

[2021-06-18 22:10] #129 closed, assigned to nobody

[2021-06-18 22:27] mhl787156 commented on #127
Done

[2021-06-18 22:27] #127 closed, assigned to nobody

[2021-06-18 22:34] mhl787156 opened #133 "Find background audio for main game"

[2021-06-18 22:35] mhl787156 opened #134 "Find sounds for special actions failure"

[2021-06-18 22:38] mhl787156 commented on #124
Done

[2021-06-18 22:38] #124 closed, assigned to nobody

[2021-06-18 22:38] mhl787156 commented on #118
Disabled by default

[2021-06-18 22:38] #118 closed, assigned to nobody

[2021-06-18 22:39] mhl787156 commented on #61
Done Refer to #129

[2021-06-18 22:39] #61 closed, assigned to nobody

[2021-06-18 22:40] mhl787156 commented on #132
Done, it goes to credits

[2021-06-18 22:40] #132 closed, assigned to nobody

[2021-06-18 23:03] mhl787156 commented on #122
Done

[2021-06-18 23:03] #122 closed, assigned to nobody

[2021-06-18 23:03] mhl787156 commented on #50
This is now complete

[2021-06-18 23:03] #50 closed, assigned to nobody

[2021-06-19 08:43] gabriellamiles commented on #126
@mhl787156 @jhird11 The most recent pull request should resolve this I think? I've been through and proofread everything.

[2021-06-19 16:49] mhl787156 commented on #117
All checked! Couple of titles fixed

[2021-06-19 16:49] #117 closed, assigned to nobody

[2021-06-19 16:50] mhl787156 commented on #126
Yup this should now be complete, I have adjusted the dialog for the plants to make it clearer, as well as added an extra bit of dialog here and there. in v1.0.1

[2021-06-19 16:50] #126 closed, assigned to nobody

[2021-06-20 18:00] mhl787156 commented on #130
Done

[2021-06-20 18:00] #130 closed, assigned to nobody

[2021-06-20 18:02] mhl787156 commented on #130
![image](https://user-images.githubusercontent.com/10742598/122683889-06bcd580-d1fa-11eb-81c6-dafd6b397866.png)

[2021-06-20 21:05] mhl787156 commented on #133
Audio Placed everywhere

[2021-06-20 21:05] #133 closed, assigned to nobody

[2021-06-20 21:06] mhl787156 commented on #55
Possibly fixed? Can't seem to observe it anymore!

[2021-06-20 21:06] mhl787156 commented on #86
Removing old scenes also helps a lot! The smaller the file size the better the whole thing performs

[2021-06-20 21:07] mhl787156 commented on #23
This is already set I believe

[2021-06-20 21:07] #23 closed, assigned to nobody

[2021-06-20 21:07] mhl787156 commented on #20
This is essentially done!

[2021-06-20 21:07] #20 closed, assigned to nobody

[2021-06-21 15:25] jhird11 opened #141 "Quit to main menu invalid reference to bookoverlay"
Steps to reproduce

Start new game -> go into sensor book -> quit to main menu -> start new game

[2021-06-21 15:56] jhird11 commented on #95
I think most of these have been addressed. Apart from the hints for failure. But we added to hints to make the actions clearer. New scripting issues can go in their own issue from now on

[2021-06-21 15:56] #95 closed, assigned to nobody

[2021-06-21 15:59] jhird11 opened #142 "Add festival of robotics logo to loading screens"

[2021-06-21 15:59] jhird11 opened #143 "Add screenshots to website"

[2021-06-21 16:17] jhird11 opened #144 "Credit fixes"
Fixes to be made to credits

~~Change to Prof Jonathan Rossiter~~
~~Add Testers - Liam Fletcher~~

[2021-06-21 18:37] jhird11 commented on #143
Added screenshots to github, they could be added to website aswell

[2021-06-21 19:09] jhird11 opened #146 "Change whisker sound because it sounds glitchy on recording"

[2021-06-21 21:27] mhl787156 commented on #144
Completed! :D

[2021-06-21 22:17] jhird11 commented on #144
I'd just leave this open till the deadline I said in the email :)

[2021-06-22 12:14] jhird11 commented on #142
@mhl787156 Have you got a link to the image you want to put in? And shall it just go in the loading screen
.

[2021-06-22 14:16] #146 closed, assigned to nobody

[2021-06-22 14:17] jhird11 commented on #146
This is in #147

[2021-06-22 14:17] jhird11 commented on #141
Fixed in #147

[2021-06-22 14:17] #141 closed, assigned to nobody

[2021-06-22 15:02] #144 closed, assigned to nobody

[2021-06-22 15:03] jhird11 commented on #142
Done! in #147

[2021-06-22 15:03] #142 closed, assigned to nobody

[2021-06-28 10:55] jhird11 opened #148 "Dialog Improvements"
Tidying up dialog for V1.1

[2021-06-28 10:56] jhird11 opened #149 "Documentation Improvements"
If we want people to build on this game in the future documenting/tidying up the codebase would be nice